$containerWidth: 940px;
$baseFontSize: 10px;

//colors
$red: #E01F3C;

//normalize
@import url(../layout/normalize.css);

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Open+Sans&family=Play:wght@400;700&display=swap');
@import "./layout";

// components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/characteristics.scss";
@import "./components/characteristic.scss";
@import "./components/button.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/benefits-section.scss";
@import "./components/reviews.scss";
@import "./components/avatar.scss";
@import "./components/delivery-section.scss";
@import "./components/form.scss";
@import "./components/radio.scss";