.benefits-section{
  position: relative;

  @include phones{
    background: none;
  }
  
  &:before{
    content: url("../../images/Rectangle.svg");
    position: absolute;
    top: rem(-23px);
    right: rem(127px);
  }
  &:after{
    content: url("../../images/triangle.svg");
    position: absolute;
    bottom: rem(-17px);
    left: rem(60px);
  }
}