.benefits-section{
  position: relative;

  @include phones{
    background: none;
  }
  
  &:before{
    content: url("../../images/Rectangle.svg");
    position: absolute;
    top: rem(-23px);
    right: rem(127px);
  }
}