.delivery-section{
  background: url("../../images/cta.png") bottom no-repeat;
  background-size: 100%;
  background-color: #161616;
  color: #fff;
  position: relative;
  &:before{
    content: url("../../images/pentagon.svg");
    position: absolute;
    right: rem(33px);
    top: rem(-27px);
  }
}