.footer-container{
  min-width: rem(86px);
  padding-top: rem(20px);
  margin-top: auto;
  padding-bottom: rem(18px);
}

.footer{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  @include phones{
    flex-direction: column;
  }
}

.footer__phone{
  display: flex;
  flex-direction: column;
  align-items: start;
  @include phones{
    align-items: center;
    margin-bottom: 20px;
  }
}

.phone__number{
  &:before{
    content: url("../../images/vector.svg");
    margin-right: rem(7px);
  }
}

.phone__adress{
  @include phones{
    margin-bottom: 12px;
  }
}