@import url(../normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Open+Sans&family=Play:wght@400;700&display=swap");
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 18px;
  list-style: 1.42;
  -webkit-flow-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input {
  font-family: "Open Sans";
}

.hero {
  background: url("../../images/Ellipse.png") left 78% center no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0px 50px;
}

.hero__text-section {
  width: 46%;
}

.hero__heading {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__paragraph {
  font-family: "Alegreya Sans";
  font-size: 21px;
  margin-bottom: 28px;
  padding-right: 25%;
}

.header {
  font-family: "Alegreya Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #292929;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  font-size: 18px;
}

.navbar__item {
  margin-right: 15px;
}
.navbar__item:last-child {
  margin-right: 0;
}

.phone {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone__icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.characteristics {
  display: flex;
}

.characteristics__item {
  margin-right: 46px;
}
.characteristics__item:last-child {
  margin-right: 0;
}

.characteristic {
  display: flex;
}

.characteristic__img {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.characteristic__info {
  font-size: 16px;
  max-width: 114px;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 18px 41px;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.button--theme--red {
  background: #E01F3C;
  color: white;
}
.button--theme--transparent {
  background: transparent;
  color: white;
  text-transform: none;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.section__title--theme--black {
  color: #fff;
}

.headline {
  margin-bottom: 62px;
  text-align: center;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtitle {
  font-size: 16px;
  color: #666;
  padding: 0 22%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../../images/shapes.png");
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
}

.benefit__img-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__ico {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../../images/Rectangle.png");
  position: absolute;
  top: -23px;
  right: 127px;
}
.benefits-section:after {
  content: url("../../images/triangle.png");
  position: absolute;
  bottom: -17px;
  left: 60px;
}

.reviews__section {
  position: relative;
}
.reviews__section:before {
  content: url("../../images/circle.png");
  position: absolute;
  left: 80px;
  bottom: -17.5px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -65px;
}

.reviews__display-wrapper {
  display: flex;
}

.reviews__user {
  width: 253px;
  height: 264px;
}

.reviews__user-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 20px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
}

.reviews__text {
  margin-bottom: 36px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.avatar--active {
  border-color: #E01F3C;
}

.avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-section {
  background: url("../../images/cta.png") bottom no-repeat;
  background-size: 100%;
  background-color: #161616;
  color: #fff;
  position: relative;
}
.delivery-section:before {
  content: url("../../images/pentagon.png");
  position: absolute;
  right: 33px;
  top: -27px;
}

form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block--margin {
  margin-bottom: 24px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 3px;
}
.form__input:focus {
  border-color: #E01F3C;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
.form__controls:last-child {
  margin-bottom: 47px;
}

.form__title {
  margin-bottom: 5px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}
.radio:first-child {
  margin-right: 16px;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../../images/cheked.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  position: absolute;
  display: none;
  width: 14px;
  height: 14px;
  background: #E01F3C;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}