.reviews__section{
  position: relative;
  &:before{
    content: url("../../images/circle.svg");
    position: absolute;
    left: rem(80px);
    bottom: rem(-17.5px);
  }
}

.reviews__list{
  position: relative;
  min-height: 280px;
}

.reviews__item{
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: .3s;
  opacity: 0;
  &--active{
    position: static;
    opacity: 1;
    pointer-events: unset;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: rem(42px);
  overflow: hidden;
  position: relative;

  &:before{
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top:rem(-65px);
  }
  @include phones{
    padding: rem(90px) rem(25px);
  }
}

.reviews__display-wrapper{
  display: flex;

  @include tablets{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__user{
  width: rem(253px);
  height: rem(264px);

  @include tablets{
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__user-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content{
  flex: 1;
  margin-left: rem(20px);
  @include tablets{
    margin-left: 0;
  }
}

.reviews__title{
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(22px);
  @include phones{
    font-size: rem(2px);
  }
}

.reviews__text{
  margin-bottom: rem(36px);
  @include phones{
    font-size: rem(16px);
  }
}

.reviews__author{
  font-size: rem(18px);
  font-weight: bold;
}

.reviews__switcher{
  display: flex;
  justify-content: center;
}