.slider{
  position: relative;

  .bx-wrapper{
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}
.slider__arrows{
  position: relative;
}
.slider__arrow{
  z-index: 1;
  position: absolute;
  width: 24px;
  height: 40px;
  top: 30vh;
  &--left{
    left: -35px;
    @include tablets{
      left: 5vh;
      top: 150px;
    }
  }
  &--right{
    right: -35px;
    @include tablets{
      right: 5vw;
      top: 150px;
    }
  }
}