.social-networks__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(10px);
}

.social-networks__item:last-child{
  margin-right: 0px;
}

.social-networks__link{
  display: block;
  width: rem(36px);
  height: rem(36px);
  background: center center no-repeat;
  border-radius: 50%;
}

.social-networks__item--icon {
  &_vk .social-networks__link .social-networks__icon{
    fill: #B3B3B3;
    height: 30px;
    width: 30px;
    &:hover{
      fill: black;
      transition: .3s;
    }
  }

  &_facebook .social-networks__link{
    fill: #B3B3B3;
    transition: .3s;
    &:hover{
      fill: black;
      transition: .3s;
    }
  }

  &_instagram .social-networks__link{
    fill: #B3B3B3;
    transition: .3s;
    &:hover{
      fill: black;
      transition: .3s;
    }
  }

  &_telegram .social-networks__link{
    transition: .3s;
    fill: #B3B3B3;
    &:hover{
      fill: black;
      transition: .3s;
    }
  }
}